html, body {
  height: 100%; /* Altura total da janela */
  margin: 0; /* Remove margens padrão */
  overflow-x: hidden; 
}

#tabs {
  display: flex;
  flex-direction: column;
  height: 100%; /* Altura total da janela */
}

#tabs > div {
  flex-grow: 1; /* Permite que o conteúdo ocupe o espaço disponível */
  padding: 20px; /* Espaçamento interno do conteúdo */
}

.ui-tabs .ui-tabs-nav {
  background: #007bff; /* Cor de fundo das abas */
  border: none; /* Remove a borda padrão */
  position: fixed; /* Fixa a barra das tabs na parte inferior */
  bottom: 0; /* Posiciona na parte inferior */
  width: 100%; /* Largura total */
  display: flex; /* Usa flexbox para organizar as abas */
  justify-content: space-around; /* Espaço igual entre as abas */
}

.ui-tabs .ui-tabs-nav li {
  list-style: none; /* Remove marcador padrão */
}

.ui-tabs .ui-tabs-nav li a {
  color: white; /* Cor do texto das abas */
  padding: 10px 15px; /* Espaçamento interno das abas */
  text-decoration: none; /* Remove o sublinhado */
  display: flex; /* Permite o uso de ícones */
  align-items: center; /* Centraliza ícones e texto verticalmente */
}

.ui-tabs .ui-tabs-nav li a i {
  margin-right: 5px; /* Espaçamento entre ícone e texto */
}

.ui-tabs .ui-tabs-nav li a:hover {
  background: rgba(255, 255, 255, 0.2); /* Efeito de hover nas abas */
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  background: #0056b3; /* Cor de fundo da aba ativa */
}

/* Estilo das abas */
#tab-1, #tab-2 {
  display: none; /* Esconde as abas inicialmente */
}

#tab-1.ui-tabs-active, #tab-2.ui-tabs-active {
  display: block; /* Mostra a aba ativa */
}

.swiper-container {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  height: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
